/* .container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
} */

.edit {
    padding: 5rem 0;
  }
  
.edit::after {
    content: "";
    display: block;
    clear: both;
}
img {
    display: flex;
  }
  
.image-preview {
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    overflow: hidden;
  }
  
.image-preview img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }